{$SYNCAST_DOMAIN:localhost} {
    encode zstd gzip

    redir /Syncast /Syncast/ 308

    handle_path /Syncast/* {
        reverse_proxy syncast:8080
    }

    handle {
        respond "Not Found" 404
    }

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        Referrer-Policy "same-origin"
        Permissions-Policy "camera=(), display-capture=(self), microphone=(self)"
    }
}
